.col-md-6.col-md-offset-3
= simple_form_for @car,html: {multipart: true } do |f|
	.form-group
		= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}
		= f.input :name
		= f.input :description
		= f.input :image, as: :file
		= f.button :submit
